@model Dominoes.Models.GameSerie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameSerie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfileInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfileInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameWinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameWinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PollonaValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PollonaValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViajeroValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViajeroValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameSerieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
