@model IEnumerable<List<Dominoes.Models.DashboardUserView>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <form class="pull-right visible-md visible-lg">
        <a class="btn btn-primary" href="@Url.Action("Index", "DominoesGroups")" role="button">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Manage My Group       
        </a>
    </form>

    <form class="visible-xs visible-sm" style="padding-bottom:5px;">
        <a class="btn btn-primary" href="@Url.Action("Index", "DominoesGroups")" role="button">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Manage My Group
        </a>
    </form>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#1">GameSeries Statistics</a></li>
        <li><a data-toggle="tab" href="#2">Groups Statistics</a></li>
        <li><a data-toggle="tab" href="#3">Month Statistics</a></li>
    </ul>



    <div class="tab-content" style="padding-top:40px;">

        @{
            var count = 0;
            var rowcount = 0; 
            string[] Text = { "GameSerie and Points", "Group and Points", "Month and Points" };
            string[] Type = { "info", "danger", "warning" };
        }
        @foreach (var item in Model)
        {
            count++;     // For changing colors and Personalized Text
            string active = "";

            if (count == 1)
            {
                active = "in active";
            }
           
            <div id="@count" class="tab-pane fade @active">
            
            @{rowcount = 0;
            }    
            @foreach (var userSet in item)
            {
                if (rowcount % 2 == 0) 
                { 
                    @:<div class="row">
                }
                
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                @Html.DisplayFor(modelItem => userSet.UserName)
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-@Type[count-1]">
                                <b>@Text[count - 1]</b>
                                <ul class="list-group">
                                    @for (int i = 0; i < userSet.TotalPoints.Count(); i++)
                                    {
                                        if (userSet.TotalPoints[i] != 0)
                                        {
                                            <li class="list-group-item">
                                                <span class="badge">@userSet.TotalPoints[i]</span>
                                                @{
                                                    if (@count == 2)
                                                    {
                                                        userSet.Name[i] = userSet.Name[i] + "'s Group"; 
                                                    } 
                                                }

                                                @userSet.Name[i]
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                if (rowcount % 2 != 0 || rowcount == item.Count() - 1)
                { 
                    @:</div>
                }
                
                rowcount++;

            }
            </div>
        }
    </div>
</div>

