@model IEnumerable<Dominoes.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameSerie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinningScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinningTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameSerie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinningScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinningTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
